.intro-body {
        background: url('../img/field.JPG') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
}
a, a:hover, a:visited{
  text-decoration: none;
  color: white;
}
.nav-pills > li > a:hover {
      background-color: black;
 }
 .nav-pills .active > a ,li:active, li:hover{
    background-color:none;
}
.nav-pills > .active > a, .nav-pills > .active > a:hover {
    text-decoration: none !important;
}
.tab{
  width:200px;
  border: solid 1px;
  border-color: white;
}
.nav-tabs > li > a {
-webkit-border-radius: 0;
-moz-border-radius: 0;
border-radius: 0;
}
.triple{
  padding-top: 40px;
}
.content{
  font-size: 16px;
  font-family: sans-serif;
  width:75%;
  margin:auto;
}
.content-light{
  font-size: 16px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  width:75%;
  margin:auto;
}
