.navbar .nav-pills >li >a {
    color: #005580;
 }
   .navbar .nav-pills > li > a:hover {
      background-color: #0088cc;
 }
 .navbar .nav-pills .active > a {
    background-color:#ccc;
    color:#0088cc;
}
.club-list{
  width: 1000px;
  margin:auto;
}
.tab{
  width:200px;
  border: solid 1px;
  border-color: white;
}
.tab-pane {
  padding-top: 25px;
}.nav-tabs > li > a {
-webkit-border-radius: 0;
-moz-border-radius: 0;
border-radius: 0;
}
.triple{
  padding-top: 40px;
}
.content{
  font-size: 16px;
  font-family: sans-serif;
  width:75%;
  margin:auto;
}
